const SLACK_SIGNING_SECRET = "";
const SLACK_ACCESS_TOKEN = "";
const SLACK_TOKEN = "";
const SLACK_CHANNEL = "";

export {
  SLACK_SIGNING_SECRET,
  SLACK_ACCESS_TOKEN,
  SLACK_TOKEN,
  SLACK_CHANNEL,
};
